#about {
    overflow: scroll;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: 675px;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('../images/home/home1.webp');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    flex-direction: column;
    header{
        justify-content: center;
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--white);
        }
    }
    .wrap{
        flex-direction: column;
        > div {
            flex-direction: column;
            align-items: center;
            span {
                font-size: 20px;
                text-align: center;
                color: var(--white);
                margin: var(--space);  
            }
            h3 {
                font-size: 30px;
                color: var(--white);
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        img {
            width: 100%;
        }
    }
}
@media (min-width:1200px) {
    #about {
        overflow: hidden;
        .wrap{
            flex-direction: row;
            > div {
                flex-direction: column;
                align-items: center;
                span {
                    font-size: 16px;
                    margin: var(--space); 
                    align-items: center;
                    width: 40%; 
                }
                h3 {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}