#home {
    flex-direction: column;
    > header {
        width: 100%;
        min-width: 320px;
        min-height: 675px;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('../images/home/fitness.webp');
        background-size: cover;
        background-position-x: 50%;
        background-position-y: center;
        background-repeat: no-repeat;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: var(--space);
        h1 {
            color: var(--white);
            font-size: 45px;
            font-weight: bold;
            text-transform: uppercase;
            font-weight: bold;
        }
        p {
            color: var(--white);
            font-size: 24px;
            text-transform: uppercase;
        }
        a {
            @include button;
            width: 190px;
            border: var(--red) 2px solid;
            color: var(--white);
            background-color: var(--red-dark);
            &:hover {
                background-color: var(--red);
            }
        }
    }
    .canto {
        position: fixed;
        right: var(--space);
        bottom: var(--space);
        width: 45px;
        z-index: 10;
    }
    .gallery {
        min-width: 320px;
        flex-direction: column;
        figure {
            width: 100%;
            margin: 0;
            position: relative;
            img {
                width: 100%;
                filter: brightness(70%);
            }
            figcaption {
                position: absolute;
                top: 70%;
                left: 25%;
            }
            h2 {
                margin: 0;
                font-size: 30px;
                font-weight: bold;
                color: var(--white);
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width: 450px) {
    #home {
        > header {
            max-height: initial;
            background-image: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)), url('../images/home/fitness.webp');
            h1 {
                font-size: 55px;
                margin: var(--space);
            }
            p {
                font-size: 30px;
                margin: var(--space);
            }
            a {
                margin: var(--space);
            }  
        }
        .gallery {
            flex-direction: row;
            figure {
                align-items: center;
                justify-content: center;
                figcaption {
                    h2 {
                        display: none;
                        text-transform: none;
                    }
                }
            }
        }
    }
}