#price {
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: 675px;
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('../images/home/ImagemPlano.webp');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;
    background-repeat: no-repeat;
    > header {
        flex-direction: column;
        margin: calc(2 * var(--space)) 0;
        h2 {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            justify-content: center;
            text-align: center;
            color: var(--white);
            margin: 0;
            small {
                margin: var(--space) 0;
                text-align: center;
                font-size: 22px;
                color: var(--red);
                font-weight: 600;
            }
        }
    }
    .wrap {
        flex-direction: column;
        margin: 0 calc(var(--space) * 2);
        .plans {
            flex-direction: column;
            align-self: center;
            background-color: var(--white);
            width: 100%;
            max-width: 500px;
            margin: var(--space) 0;
            border-radius: var(--border-radius);
            .plan-month {
                justify-content: center;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                background-color: var(--green);
                h2 {
                    font-size: 26px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    color: var(--white);
                }
            }
            .price {
                flex-direction: column;
                justify-content: center;
                align-self: center;
                align-items: center;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                border: 2px solid var(--success-color);;
                margin: var(--space);
                font-size: 24px;
                color: var(--success-color);
                strong {
                    font-size: 40px;
                }
            }
            .list {
                align-items: center;
                justify-content: center;
                ul {
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    li {
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 300;
                    }
                    li:nth-child(odd) {
                        background-color: var(--gray-10);
                    }
                }
            }
            a {
                @include button;
                width: 190px;
                color: var(--white);
                background-color: var(--red);
                border: 1px solid var(--red-dark);
                text-align: center;
                margin: calc(2 * var(--space)) 0;
                align-self: center;
                &:hover {
                    background-color: var(--red-dark);
                    border: 1px solid var(--red);
                }
            }
        }
    }

}

@media (min-width:992px) {
    #price {
        > header {
            margin-top: calc(var(--space) * 5);
            h2 {
                font-size: 32px;
                small {
                    display: block;
                    font-size: 26px;
                    color: var(--red);
                    display: none;
                }
            }
        }
        .wrap {
            flex-direction: row;
            padding: 0 100px;
            .plans {
                height: 600px;
                margin: 20px;
            }
        }
    }
}